{{ form_start(form) }}
    <div class="form-control">
        {{ form_errors(form.title) }}
        {{
            form_widget(form.title, {
                'attr': { 'placeholder': 'Title...' }
            })
        }}
    </div>

    <div class="form-control">
        {{ form_errors(form.author) }}
        {{ form_widget(form.author) }}
    </div>

    <div class="form-control">
        {{ form_errors(form.summary) }}
        {{
            form_widget(form.summary, {
                'attr': { 'placeholder': 'Sumamry...' }
            })
        }}
    </div>

    <div class="form-control">
        {{ form_errors(form.ISBN) }}
        {{
            form_widget(form.ISBN, {
                'attr': { 'placeholder': 'ISBN...' }
            })
        }}
    </div>

    <div class="form-control">
        {{ form_errors(form.genres) }}
    </div>
    <div class="form-control-checkbox">
        {% for g in form.genres %}
            <div>
                {{ form_widget(g) }}
                {{ form_label(g) }}
            </div>
        {% endfor %}
    </div>

    <input class="form-submit" type="submit" value="Submit">
{{ form_end(form) }}
