<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    {% block stylesheets %}
        {{ encore_entry_link_tags("app") }}
    {% endblock %}

    <title>{% block title %}Local Library{% endblock %}</title>
</head>
<body>
    <div class="layout container">
        <nav>
            <ul class="nav__links">
                <li><a href="{{ path('catalog_index') }}">Home</a></li>
                <li><a href="{{ path('catalog_index') }}">All books</a></li>
                <li><a href="{{ path('author_index') }}">All authors</a></li>
                <li><a href="{{ path('genre_index') }}">All genres</a></li>
            </ul>

            <hr class="my-2">

            <ul class="nav__actions">
                <li>
                    <a href="{{ path('genre_create') }}">Create new genre</a>
                </li>
                <li>
                    <a href="{{ path('author_create') }}">Create new author</a>
                </li>
            </ul>
        </nav>

        <main>
            {% block body %}{% endblock %}
        </main>
    </div>
</body>
</html>
